<div class="container">
    <div class="container lhs">

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Delicious Burgers</div>
                    <div class="panel-body">

                        {{#each burgers}}
                            {{#unless devoured}}
                                <div class="well well-lg">
                                    <form class="form-inline" action="/{{this.id}}?_method=PUT" method="POST">
                                        <div class="form-group">
                                            <input type="hidden" name="sleepy" value="true">
                                            <label class="text" for="burger">{{burger_name}}</label>
                                            <button type="submit" class="btn btn-primary">Devour it!!</button>
                                        </div>
                                    </form>
                                </div>
                            {{/unless}}

                        {{/each}}


                    </div>
                </div>
            </div>
            <div class="col-lg-offset-1 col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">Checkout</div>
                    <div class="panel-body">
                        {{#each burgers}}
                            {{#if devoured}}
                                <p class="text-justify"> {{id}}. {{burger_name}}</p>

                                <hr>
                            {{/if}}

                        {{/each}}

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <form action="/" method="POST">
                    <textarea class="form-control" name="burger" rows="3" placeholder="Enter your burger "></textarea>
                    <hr>
                    <button type="submit" class="btn btn-primary text-center">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>
